DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/net45/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/net40/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/net35/Newtonsoft.Json.dll
DBI_PEA_Scoring/packages/Newtonsoft.Json.11.0.1/lib/net20/Newtonsoft.Json.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DBI_PEA_Scoring/DBI_PEA_Scoring/obj/Debug/DBI_PEA_Scoring.pdb
DBI_PEA_Scoring/DBI_PEA_Scoring/obj/Debug/DBI_PEA_Scoring.exe
DBI_PEA_Scoring/DBI_PEA_Scoring/obj/Debug/DBI_PEA_Scoring.csprojAssemblyReference.cache
DBI_PEA_Scoring/DBI_PEA_Scoring/obj/Debug/DBI_PEA_Scoring.csproj.CoreCompileInputs.cache
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Newtonsoft.Json.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.SqlEnum.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.Smo.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.ServiceBrokerEnum.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.Management.Sdk.Sfc.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.Dmf.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/Microsoft.SqlServer.ConnectionInfo.dll
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/DBI_PEA_Scoring.pdb
DBI_PEA_Scoring/DBI_PEA_Scoring/bin/Debug/DBI_PEA_Scoring.exe
DBI_PEA_Scoring/DBI_PEA_Scoring/Utils/ExcelUtils.cs
DBI_PEA_Scoring/.vs/DBI_PEA_Scoring/v15/.suo
