<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="username" value="sa" />
    <add key="password" value="sa" />
    <add key="serverName" value="localhost" />
    <add key="initialCatalog" value="master" />
    <add key="timeOutInSecond" value="3" />

  </appSettings>
</configuration>